@model Arayuz.model.Musteri
@{

    Layout = "";
}


<head>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/css/price-range.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />


    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>

</head>

<div>
    @Html.Partial("_UstMenu")
</div>

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1>Kullanıcı Hesabı</h1></div>

    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->



            <div class="panel panel-default">
                <div class="panel-heading">HESAP <i class="fa fa-link fa-1x"></i></div>
                <ul class="list-group">

                    <li class="list-group-item text-right"><span class="pull-left"><strong><a href="">Üyelik Bilgileri</a></strong></span><br /></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong><a href="/Kullanici/SifreGuncelle/@Session["uyeid"]">Şifre Güncelleme</a></strong></span><br /></li>
                </ul>

            </div>






        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Üye Bilgileri</a></li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="home">
                   
                    <form method="post">
                        <div class="form-group">

                            <div class="col-xs-7">
                                <label for="first_name"><h4>İsim</h4></label>
                                <input type="text" class="form-control" value="@Model.Adi" name="Adi" id="Adi" placeholder="Adı">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-7">
                                <label for="last_name"><h4>Soyisim</h4></label>
                                <input type="text" class="form-control" value="@Model.Soyadi" name="Soyadi" id="Soyadi" placeholder="Soyadı">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-7">
                                <label><h4>Eposta</h4></label>
                                <input type="email" class="form-control" value="@Model.Eposta" name="Eposta" id="Eposta" placeholder="E-posta">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-7">
                                <label">
                                    <h4>Teslimat Adresi</h4></label>
                                    <textarea rows="1" name="TeslimatAdresi">@Model.TeslimatAdresi</textarea>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-xs-7">
                                <br />
                                <button value="Kaydet" type="submit" class="btn btn-info">Kaydet</button>
                            </div>
                        </div>
                    </form>

                    <hr>

                </div><!--/tab-pane-->


            </div><!--/tab-pane-->

        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->

<script src="~/Content/js/jquery.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/jquery.scrollUp.min.js"></script>
<script src="~/Content/js/price-range.js"></script>
<script src="~/Content/js/jquery.prettyPhoto.js"></script>
<script src="~/Content/js/main.js"></script>

<script type="text/javascript">

    $(document).ready(function () {


        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });


</script>


@if (TempData["sonuc"] != null && TempData["sonuc"].ToString() == "3")
{
    <script type="text/javascript">
        toastr["info"]("Güncelleme Başarılı Bir Şekilde Gerçekleşti!", "Mesaj")

    </script>
}

@if (TempData["sonuc"] != null && TempData["sonuc"].ToString() == "4")
{
    <script type="text/javascript">
        toastr["info"]("Güncelleme Sırasında Bilinmeyen Bir Hata Oluştu!", "Mesaj")

    </script>
}
