@model List<Proje.Models.Siparis>
@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>

<div class="card-body">
    <div class="table-responsive">

        <table id="siparisListesi" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>Adi</th>
                    <th>Soyadi</th>
                    <th>Eposta</th>
                    <th>Durum</th>
                    <th>Fiyat</th>



                    <th>Siparis Detay</th>
                    <th>Sil</th>


                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>

                    <tr>

                        <td>@Html.DisplayFor(modelItem => item.Id)</td>

                        <td>@Html.DisplayFor(modelItem => item.Musteri.Adi)</td>
                        <td>@Html.DisplayFor(modelItem => item.Musteri.Soyadi)</td>


                        <td>@Html.DisplayFor(modelItem => item.Musteri.Eposta)</td>
                        <td>@Html.DisplayFor(modelItem => item.SiparisDurumu.Tanim)</td>
                        <td>@Html.DisplayFor(modelItem => item.SiparisDetay.Fiyat)</td>

                        <td>
                            <a href="/Siparis/SiparisDetay/@item.Id" class="btn btn-primary btn-xs" style="font-size:x-small">Sipariş Detay</a>

                        </td>

                        <td>
                            <a class="btn btn-primary btn-sm" href="/Siparis/Sil/@item.Id" onclick="return confirm('Bu Siparişi Silmek İstediğinize Eminmisiniz?')">Sil</a>
                        </td>

                    </tr>
                </tbody>
            }

        </table>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#siparisListesi').DataTable();
    });
</script>

